




































































.logo {
	width: 75px;
	margin-left: 1rem;
	transform: rotate(-10deg);
    
	animation-name: rotate;
	animation-duration: 0.7s;
    transition: transform 0.5s ease;
}
.logo:hover  {
   transform: rotate(360deg);
}

@keyframes rotate  {
	0%  {
		transform: rotate(0);
	}
	100%  {
		transform: rotate(360deg);
	}
}