* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	/* --main: #094106; */
	--main: #66c3ff;
	/*  --second: #1e1e1e; */
	--second: #fdedf2;
	/* --textColor: #a0a0a0; */
	--texColor: white;
	--shadows: rgb(52, 52, 52);
}

body {
	font-family: "Montserrat", sans-serif;
	background-color: var(--second);
	font-optical-sizing: auto;
	color: var(--textColor);
}

/* HEADER */
header {
	margin: .5rem .5rem .5rem .5rem;
	height: 10rem;
	display: flex;
	justify-content: center;
	gap: 2rem;
	background-color: var(--main);
	border-radius: 15px;
	border-width: 1px;
	box-shadow: 1px 1px 5px var(--shadows);
}

.brandName {
	font-family: "Lucida Sans", Geneva, Verdana, sans-serif;
	font-size: 5rem;
	margin-top: auto;
	margin-bottom: auto;
}

/* animated logo */
@keyframes shake {
	0% {
		transform: rotate(-10deg);
	}

	25% {
		transform: rotate(10deg);
	}

	50% {
		transform: rotate(-10deg);
	}

	75% {
		transform: rotate(10deg);
	}

	100% {
		transform: rotate(-10deg);
	}
}

.logo {
	width: 75px;
	margin-left: 1rem;
	transform: rotate(-10deg);

	&:hover {
		animation: shake 0.3s ease-in-out infinite;
	}
}

h1 {
	margin-top: 2rem;
	text-align: center;
	font-size: 3rem;
}

/* HEADER END */

/* FILTERS */
.filters {
	position: relative;
	/* position : relative needed to fix the reset button */
	display: flex;
	/* flex-wrap: wrap; unecessary  */
	justify-content: center;
	gap: 1rem;
	margin: 80px auto 20px;
	padding: 15px;
	background-color: var(--second);
	width: 80%;
	border-radius: 10px;
	box-shadow: 1px 1px 6px var(--shadows);
	text-align: left;
	height: 20rem;
}

.filter-box {
	width: 20rem;
	padding: 15px;
	background-color: var(--main);
	border-radius: 10px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
	height: 15rem;

	text-overflow: unset;

	&:hover {
		box-shadow: 0 0 8px var(--shadows);
	}
}

.filters ul {
	list-style: none;
	padding-left: 0;
	margin-top: 1rem;
}

.filters li {
	display: flex;
	align-items: center;
	gap: 1rem;
	font-size: 1.5rem;
}

.resetButton {
	color: var(--textColor);
	position: absolute;
	bottom: 1rem;
	background-color: var(--main);
	padding: .3rem;
	font-size: 1rem;
	border-radius: 10px;
	border-color: var(--main);
	box-shadow: 0 0 5px var(--shadows);

	&:hover {
		box-shadow: 0 0 10px var(--shadows);
	}
}

/* FILTER END */

.content {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.thumbnail {
	display: flex;
	/*Display flex pour faire apparaitre*/
	flex-direction: column;
	margin: 20px;
	width: 350px;
	height: 350px;
	background-color: var(--main);
	border-radius: 15px;
	transition: .35s;
	overflow: hidden;

	&:hover {
		box-shadow: 0 0 10px var(--shadows);
	}
}

.thumbnail-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, 1fr);
}

h3,
h4,
p {
	padding: 0 0 0 10px;
	color: var(--textColor);
}

.imgthumbnail {
	object-fit: cover;
	width: 100%;
	height: 170px;
	margin: 0px auto 20px;
	border-radius: 15px 15px 0 0;
}

.resto-type {
	grid-column: 1 / span 2;
	grid-row: 1;
}

.resto-stars {
	display: flex;
	justify-content: end;
	margin: 0;
	padding: 0 10px;
	grid-column: 3;
	grid-row: 1;
}

.resto-stars-WCS {
	background-image: url("images/blackWildLogo.png");
	background-size: contain;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	margin: 3px 5px;
}

.resto-name {
	grid-column: 1 / span 2;
	grid-row: 2;
}

.resto-adress {
	grid-column: 1;
	grid-row: 3;
	height: 20px;
}

.resto-phone {
	grid-column: 1;
	grid-row: 4;
	margin: 15px 0 0;
}

.resto-price {
	grid-column: 3;
	grid-row: 4;
	display: flex;
	justify-content: end;
	padding: 0 10px;
}

.advices {
	display: none;
}

.resto-pic {
	display: flex;
	margin: 20px auto;
	grid-column: 2 / span 2;
	grid-row: 8;
}

.resto-advice {
	display: flex;
	justify-content: center;
	margin: 20px auto;
	grid-column: 1;
	grid-row: 8;
}

.thumbnail-down {
	display: flex;
	justify-content: space-around;
	margin: 20px 0;
}

.thumbnail-popup {
	display: none;
}

footer {
	background-color: var(--main);
	justify-items: center;
	margin-top: 3rem;
}

/*FIN DU DESKTOP/MOBILE */

/* POP-UP - DÉBUT*/

@media screen and (max-width: 800px) {
	header {
		justify-content: space-between;
	}

	.brandName {
		margin-right: 1rem;
	}

	.thumbnail-popup {
		display: none;
		/* flex pour faire apparaitre / none pour ne pas afficher*/
		flex-direction: column;
		background-color: var(--second);
		transition: opacity 0.7s;
		margin: auto;
	}

	.thumbnail-popup-top {
		display: flex;
		flex-direction: column;
		margin: 0 0 20px 0;
	}

	.cancel {
		position: absolute;
		right: 5%;
		top: 1%;
		fill: #000;
		margin: auto;
		display: flex;
		width: 36px;
	}

	.thumbnail-popup-grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(8, 1fr);
		height: 90%;
		width: 100%;
		margin: auto;
	}

	.img-popup {
		object-fit: cover;
		width: 100%;
		height: 200px;
	}

	/* .map {
        width: 100%;
        height: 200px;
        margin:0 0 30px 0; */

	.resto-type-popup {
		grid-column: 1;
		grid-row: 1;
		margin: 0 0 35px;
	}

	.resto-stars-popup {
		display: flex;
		justify-content: center;
		margin: 0;
		padding: 0 10px;
		background-size: contain;
		background-repeat: no-repeat;
		grid-column: 3;
		grid-row: 1;
	}

	.resto-stars-WCS-popup {
		padding: 0;
		margin: 3px 5px;
		width: auto;
		height: 14px;
	}

	.resto-name-popup {
		grid-column: 1 / span 2;
		grid-row: 3;
		padding: 10px;
	}

	.resto-adress-popup {
		grid-column: 1 / span 2;
		grid-row: 3;
		padding: 10px;
	}

	.resto-phone-popup {
		grid-column: 1;
		grid-row: 4;
		padding: 10px;
	}

	.resto-price-popup {
		grid-column: 3;
		grid-row: 4;
		display: flex;
		justify-content: center;
		padding: 0 10px;
	}

	.resto-pic-popup {
		display: flex;
		margin: 20px auto;
		grid-column: 3;
		grid-row: 8;
	}

	.resto-advice-popup {
		display: flex;
		justify-content: center;
		margin: 20px auto;
		grid-column: 1;
		grid-row: 8;
	}

	#advices-popup {
		display: none;
		/* flex pour faire apparaitre / none pour ne pas afficher*/
		flex-direction: column;
		justify-content: center;
		align-content: center;
		margin: 30px auto;
		padding: 20px 0;
		width: 100%;
	}
}

/* @media only screen and (min-width: 480px) {
    header {
        justify-content: space-between;
    }

    .brandName {
        margin-right: 1rem;
    }
} */

/* carousel */
.carousel {
	height: 170px;
	margin: 0px auto 20px;
	position: relative;
}

.carousel ul {
	list-style: none;
}

.carousel button {
	position: absolute;
	background: none;
	border: none;
	outline: none;
	font-size: 1.8rem;
	color: var(--second);
	transform: translateY(-50%);
	top: 50%;
	z-index: 2;
}

.carousel #prev {
	left: .3rem;
}

.carousel #next {
	right: .3rem;
}

.slide {
	position: absolute;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .4s ease-in-out;
}

.slide.active {
	opacity: 1;
}

.slide img {
	display: block;
	height: 100%;
	width: 100%;
}

